---
layout: layouts/base.njk
bodyClass: page-landing
---
<div class="bg"></div>
<div id="wrapper">
  <header id="header">
    <div class="logo">
      <img src="/assets/images/headshot.png" alt="Headshot of Joshua Palmer">
    </div>
    <div class="content">
      <div class="inner">
        <h1>Joshua Palmer</h1>
        <p>Software Engineer</p>
      </div>
    </div>
    <nav>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Writing</a></li>
        <li><a href="https://www.linkedin.com/in/joshua--palmer/" target="_blank" rel="me noopener">LinkedIn</a></li>
      </ul>
    </nav>
  </header>

  <footer id="footer">
    <p class="copyright">&copy; Joshua Palmer.</p>
    <p class="attribution">Design inspired by <a href="https://html5up.net/dimension" rel="noopener">Dimension by HTML5 UP</a>.</p>
  </footer>
</div>
